<div class="col-lg-6">
    <p class="lead"></p>
    <table class="table table-striped">
        <thead>
        <tr class="text-center">
            <th class="text-center">#</th>
            <th class="text-center">工厂</th>
            <th class="text-center">部门</th>
            <th class="text-center">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center">
            <td>0</td>
            <td><input type="text" class="form-control text-center" name="plant" value="B1" disabled></td>
            <td><input type="text" class="form-control text-center" name="deptname"></td>
            <td>
                <button id="addDeptBtn" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span>
                </button>
            </td>
        </tr>
        <% for(var i = 0 ; i < depts.length; i++){ %>
        <tr class="text-center">
            <td><%= i + 1 %></td>
            <td><%= depts[i].plant %></td>
            <td><%= depts[i].deptname %></td>
            <td>
                <button data-id="<%= depts[i].id %>" class="btn btn-danger btn-xs delDeptBtn"><span
                            class="glyphicon glyphicon-remove"></span></button>
            </td>
        </tr>
        <% } %>

        </tbody>
    </table>
</div>