<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/stylesheets/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/jquery/dist/jquery.min.js"></script>
    <script src="/stylesheets/bootstrap/dist/js/bootstrap.min.js"></script>

    <link rel="stylesheet"
          href="//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-table/dist/bootstrap-table.css">
</head>
<body>
<div class="topnav">
    <div class="container">
        <ul class="breadcrumb text-right">
            您好，
            <li>鲁鹏</li>
            <li><a href="/login"><span class="glyphicon glyphicon-log-out"></span> 登出</a></li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="row">
        <h1><a href="/admin"><img src="/images/index/logo.png" alt="B1信管部"></a>
            <small class="glyphicon glyphicon-minus"></small>
            <small><%= title %></small>
        </h1>
        <p class="lead"></p>
    </div>
    <div class="row">
        <div class="nav nav-tabs">
            <li class="active"><a href="/admin">首页</a></li>
            <li><a href="#">部门</a></li>
            <li><a href="#">关键词</a></li>
            <li><a href="#">其他</a></li>
        </div>
    </div>
    <div class="row" id="mainContent">
        <div id="toolbar">
            <button id="remove" class="btn btn-danger" disabled>
                <i class="glyphicon glyphicon-remove"></i> Delete
            </button>
        </div>
        <table id="table"></table>
    </div><!-- row -->
</div><!-- container -->
<script src="/javascripts/admin.js"></script>
</body>
</html>