<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/stylesheets/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/jquery/dist/jquery.min.js"></script>
    <script src="/stylesheets/bootstrap/dist/js/bootstrap.min.js"></script>

    <link rel="stylesheet"
          href="//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-table/dist/bootstrap-table.css">
</head>
<body>
<div class="topnav">
    <div class="container">
        <ul class="breadcrumb text-right">
            您好，
            <li>鲁鹏</li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> 登出</a></li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="row">
        <h1><a href="/admin"><img src="/images/index/logo.png" alt="B1信管部"></a>
            <small class="glyphicon glyphicon-minus"></small>
            <small><%= title %></small>
        </h1>
        <p class="lead"></p>
    </div>
    <div class="row">
        <div class="nav nav-tabs">
            <li class="active"><a href="/admin">首页</a></li>
            <li><a>部门</a></li>
            <li><a>分类</a></li>
            <li><a>其他</a></li>
        </div>
    </div>
    <div class="row" id="mainContent">
        <div id="toolbar">
            <button id="remove" class="btn btn-danger" disabled>
                <i class="glyphicon glyphicon-remove"></i> Delete
            </button>
        </div>
        <table id="table"></table>
    </div><!-- row -->
</div><!-- container -->
<!-- 模态框（Modal） -->
<div class="modal fade" id="replyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">回复内容：</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="content">回复内容：</label>
                    <textarea class="form-control" name="reContent" id="reContent"
                              placeholder="请回复"></textarea>
                </div>
                <div class="form-group">
                    <label for="content">状态：</label>
                    <select name="status" id="status" class="form-control">
                        <option value="2">已解答</option>
                        <option value="3">跟进中</option>
                        <option value="4">已解决</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="replyConfirm">提交回复</button>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div><!-- /.modal -->
<div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">确认是否删除？</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-danger" id="delConfirm">确认删除</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/admin.js"></script>
<script src="/javascripts/bootstrapTable.js"></script>
</body>
</html>