<div id="content">
    <% if(content == ''){ %>
    <p class="text-danger">（无）</p>
    <% }else{ %>
    <p><%= content %></p>
    <% } %>
</div>

<% if(images != ''){ %>
<ul class="image list-inline">
    <% for(var img = 0; img < images.length; img++){ %>
    <li>
        <a href="/images/uploads/<%= images[img] %>" class="img-responsive"><img
                    src="/images/uploads/<%= images[img] %>" alt=""></a>
    </li>
    <% } %>
</ul>
<% } %>

<% if(reContent && reContent != ''){ %>
<div id="reContent">
    <p class="label label-success">回复：<%= reContent %></p>
</div>
<% } %>