<div class="col-lg-3">
    <h3>其他展示</h3>
    <!--<img src="http://10.20.1.100/index/item-1.jpg" width=100% alt="">
    <img src="http://10.20.1.100/index/item-2.jpg" width=100% alt="">
    <img src="http://10.20.1.100/index/item-3.jpg" width=100% alt="">-->
</div>