<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/stylesheets/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-fileinput/css/fileinput.min.css">
    <script src="/javascripts/jquery/dist/jquery.min.js"></script>
    <script src="/stylesheets/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/javascripts/index.js"></script>
</head>
<body>
<!--    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">B1信管部</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
            </ul>
        </div>
    </nav>-->
<div class="topnav">
    <div class="container">
        <ul class="breadcrumb text-right">
            您好，欢迎，
            <!--<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>-->
            <li><a href="/add"><span class="glyphicon glyphicon-plus"></span> 添加需求</a></li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="row">
        <h1><a href="/"><img src="/images/index/logo.png" alt="B1信管部"></a>
            <small class="glyphicon glyphicon-minus"></small><small><%= title %></small>
        </h1>
        <!--<ul class="list-inline pull-right">
            <li><a href="/add" class="btn btn-warning btn-sm">添加需求</a></li>
        </ul>-->
        <p class="lead"></p>
    </div>