<div class="col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">热门反馈</h3>
        </div>
        <ul class="list-group">
            <li class="list-group-item"><a href="#">电脑不好使</a></li>
            <li class="list-group-item"><a href="#">PO报表无法导出的问题</a></li>
            <li class="list-group-item"><a href="#">一二三四五六七八九十一二三四五六七八九十</a></li>
            <li class="list-group-item"><a href="#">电脑太卡，申请换新</a></li>
            <li class="list-group-item"><a href="#">电脑太卡，申请换新</a></li>
            <li class="list-group-item"><a href="#">电脑太卡，申请换新</a></li>
        </ul>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">最新反馈</h3>
        </div>
        <ul class="list-group">
            <li class="list-group-item"><a href="#">电脑不好使</a></li>
            <li class="list-group-item"><a href="#">PO报表无法导出的问题</a></li>
            <li class="list-group-item"><a href="#">一二三四五六七八九十一二三四五六七八九十</a></li>
            <li class="list-group-item"><a href="#">电脑太卡，申请换新</a></li>
            <li class="list-group-item"><a href="#">电脑太卡，申请换新</a></li>
            <li class="list-group-item"><a href="#">电脑太卡，申请换新</a></li>
        </ul>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">最新解决</h3>
        </div>
        <ul class="list-group">
            <li class="list-group-item"><a href="#">电脑不好使</a></li>
            <li class="list-group-item"><a href="#">PO报表无法导出的问题</a></li>
            <li class="list-group-item"><a href="#">一二三四五六七八九十一二三四五六七八九十</a></li>
            <li class="list-group-item"><a href="#">电脑太卡，申请换新</a></li>
            <li class="list-group-item"><a href="#">电脑太卡，申请换新</a></li>
            <li class="list-group-item"><a href="#">电脑太卡，申请换新</a></li>
        </ul>
    </div>
</div>