<div class="col-lg-3">
    <h3>热门反馈</h3>
    <ul class="list-unstyled">
        <li><a href="#">电脑不好使</a></li>
        <li><a href="#">PO报表无法导出的问题</a></li>
        <li><a href="#">一二三四五六七八九十一二三四五六七八九十</a></li>
        <li><a href="#">电脑太卡，申请换新</a></li>
        <li><a href="#">电脑太卡，申请换新</a></li>
        <li><a href="#">电脑太卡，申请换新</a></li>
    </ul>
    <h3>最新反馈</h3>
    <ul class="list-unstyled">
        <li><a href="#">电脑不好使</a></li>
        <li><a href="#">PO报表无法导出的问题</a></li>
        <li><a href="#">一二三四五六七八九十一二三四五六七八九十</a></li>
        <li><a href="#">电脑太卡，申请换新</a></li>
        <li><a href="#">电脑太卡，申请换新</a></li>
        <li><a href="#">电脑太卡，申请换新</a></li>
    </ul>
    <h3>最新解决</h3>
    <ul class="list-unstyled">
        <li><a href="#">电脑不好使</a></li>
        <li><a href="#">PO报表无法导出的问题</a></li>
        <li><a href="#">电脑太卡，申请换新</a></li>
        <li><a href="#">电脑太卡，申请换新</a></li>
        <li><a href="#">电脑太卡，申请换新</a></li>
        <li><a href="#">一二三四五六七八九十一二三四五六七八九十</a></li>
    </ul>
</div>