<div class="row">
    <ul class="nav nav-tabs">
        <span cate="<%= category %>"></span>
        <li class="<% if (!category){ %>active<% } %>">
            <a href="/">全部</a>
        </li>
        <% for(var i = 0; i < cates.length; i++){ %>
        <li class="category">
            <a href="/cate/<%= cates[i].cate %>"><%= cates[i].cate %></a>
        </li>
        <% } %>
    </ul>
    <p class="lead"></p>
    <div class="btn-group btn-group-sm">
        <a href="/admin" type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">全部状态
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="" data-status=1 class="status-hover">已提交</a></li>
            <li><a href="" data-status=2 class="status-hover">已解答</a></li>
            <li><a href="" data-status=3 class="status-hover">跟进中</a></li>
            <li><a href="" data-status=4 class="status-hover">已解决</a></li>
            <li class="divider"></li>
            <li><a href="">全部显示</a></li>
        </ul>
    </div>
</div>